.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2em;
    max-width: 450px;
    border-radius: 8px;
    background-color: var(--pure-white);
    box-shadow: 0 0 2px 2px var(--primary-color);
    opacity: 0;
    transform: scale(0.5);
    transition:
        opacity 0.6s,
        transform 0.6s;
}

.card.animate {
    animation: fadeIn 1s forwards;
}

.card h3 {
    margin: 0.5em 0 0.2em;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    color: var(--complementary-color);
}

.card span {
    margin-top: 0.4rem;
    text-align: left;
    color: #3f3b3b;
}

.card p {
    margin: 2rem 0;
    line-height: 1.4rem;
}

.box {
    margin-bottom: 1rem;
}

.box img {
    margin-right: 0.6rem;
    width: 28px;
    height: 28px;
}

.memberPhoto {
    margin-top: 1em;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-width: 1100px) {
    .card h3 {
        font-size: 1.6rem;
    }

    .card span {
        font-size: 1.1rem;
    }

    .card p {
        line-height: 1.6rem;
    }
}
