.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.05rem;
}

.section img {
    width: 80%;
    max-width: 550px;
    height: 100%;
    margin-bottom: 2em;
    object-fit: cover;
}

.section h3 {
    margin: 1rem 0;
    color: var(--complementary-color);
}

.section p {
    text-align: center;
    font-weight: bold;
}

.section a {
    margin-top: 1rem;
    padding: 1.1rem 0;
    width: 100%;
    max-width: 400px;
    background-color: var(--main-color);
    border-radius: 12px;
    color: var(--primary-color);
    border: 2px solid var(--main-color);
    transition:
        background-color 0.3s,
        color 0.3s;
    text-align: center;
}

.section a:hover {
    background-color: var(--pure-white);
    color: var(--main-color);
}
