.header {
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    z-index: 3;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-black);
    z-index: 4;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    text-align: center;
    z-index: 10;
    animation: letters 1s;
}

.homepage {
    background-image: url('../../../public/photos/homepageHeroSmall.jpg');
}

.services {
    background-image: url('../../../public/photos/servicesHeroSmall.jpg');
    background-position: center;
}

.aboutus {
    background-image: url('../../../public/photos/aboutusHeroSmall.jpg');
    background-position: center;
}

.contact {
    background-image: url('../../../public/photos/contactHeroSmall.jpg');
    background-position: center;
}

@keyframes letters {
    0% {
        opacity: 0;
        transform: translate(-50%, 350%);
    }
    80% {
        opacity: 1;
        transform: translate(-50%, -55%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1100px) {
    .homepage {
        background-image: url('../../../public/photos/homepageHeroBig.jpg');
    }

    .services {
        background-image: url('../../../public/photos/servicesHeroBig.jpg');
    }

    .aboutus {
        background-image: url('../../../public/photos/aboutusHeroBig.jpg');
    }

    .contact {
        background-image: url('../../../public/photos/contactHeroBig.jpg');
    }
}
