.footer,
.textData,
.companyData,
.addressData,
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    gap: 2rem;
    padding: 3rem 2rem;
    width: 100%;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 300;
}

.textData {
    gap: 2rem;
    max-width: 800px;
    width: 100%;
}

.companyData,
.addressData,
.copyright {
    gap: 0.3rem;
}

.addressData a:hover {
    text-decoration: underline;
}

@media (min-width: 1100px) {
    .footer {
        gap: 3rem;
        padding: 4rem 2rem 3rem;
        font-size: 1.15rem;
    }

    .textData {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
    }

    .companyData,
    .addressData {
        width: 550px;
    }

    .companyData,
    .addressData,
    .copyright {
        gap: 0.4rem;
    }
}
