.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
}

.title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
}

.underline {
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
}

@media (min-width: 786px) {
    .underline {
        width: 120px;
    }
}

@media (min-width: 1100px) {
    .underline {
        width: 140px;
    }

    .titleBox {
        margin-bottom: 3rem;
    }
}

@media (min-width: 1400px) {
    .underline {
        width: 160px;
    }
}
